
@import url(font.css);
body{
    margin: 0 auto;
    padding: 0;
    width: 1440px;
    font-size: 18px;
    font-family: 'Gilroy, Regular';
    font-weight: 400;
    background-color: #FAFAFA;
}
a {
    text-decoration: none;
    color: #000000;
}
h2{
    margin: 0px;
    font-size: 32px;
}
*,
*::before,
*::after {
  box-sizing:border-box;
}

a svg:hover #logotype,
a svg:focus #logotype{
    fill: #F7941E;
}
/* Common */
.gifts__text,
.blog__about,
.blog__article,
.footer__socialmedia,
.abc{
    text-align: center;
}

.link{
    display: inline-block;
    border: 1px solid;
    border-radius: 7px;
    position: relative;
    text-align: center;
    padding: 17px;
    text-transform: uppercase;
    background-color: transparent;
}
.link__orange{
    border-color: #F7941E;
    color: #F7941E;
}
.link__orange:hover,
.link__orange:focus{
    background-color: #F7941E;
    color:#FFFFFF;
}
.main-header__site-navigation,
.footer__navigation_links,
.footer__socialmedia {
    list-style: none;
}

/* Header */
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
    margin-left: 80px;
}

.main-header__site-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}
.main-header__site-navigation_menu{
    margin-right: 30px;
}
.main-header__site-navigation_menu:last-child{
    margin-right: 0px;
}
.link__orange_nav{
    padding: 13px 20px;
}

/* Main */

/* Section Services */
.services{
    background-color: #F1F1F2;
    display: flex;
    justify-content: space-between;
    padding-right: 0px;
}

.services__common-text{
    text-align: left;
    width: 50%;
}
                /* first block */
.services__first-block-text{
    padding: 135px 135px 80px 135px;
}
.services__first-block-text h2{
    font-size: 56px;
}

.link__orange_first-block{
    margin-top: 36px;
    padding: 15px 24px 15px 24px;
}
                /* second block */
.services__second-block-text{
    padding: 160px 160px 95px 160px;
}
.services__second-block-text p{
    margin-top: 23px;
}
.link__orange_second-block{
    margin-top: 19px;
    padding: 15px 45px 15px 45px;
}

                /* imaging */
.services__img{
    width: 50%;
}

/* Section Gifts */
.gifts {
    background-color: #FFFFFF;
    padding-bottom: 137px;
    padding-top: 90px;
}
.gifts__text h2{
    font-weight: inherit;
}
.gift__block{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.gift__item{
    background-color: #FAFAFA;
    margin-right: 30px;
    min-height: 436px;
    width: 270px;
    padding-bottom: 24px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.gift__item:hover,
.gift__item:focus{
    box-shadow: 6px 6px 10px 1px #E5E5E5;
    border-radius: 5px;
}
.gift__item:last-child{
    margin-right: 0px;
}
.gift__item a,
.gift__item p{
    padding-left: 24px;
}
.gift__item a{
    font-size: 14px;
}

/* Div Offer */

.offer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 69px;
    background-color: #F7941E;
}
.offer_links span{
    font-weight: bold;
}
.offer p{
    font-size: 32px;
}
.offer__link{
    padding: 13px;
    margin-right: 16px;
}
.offer__link:last-child{
    margin-right: 0px;
}
.offer__link:hover,
.offer__link:focus{
    border-color: #231F20;
    background-color: #231F20;
    color:#FFFFFF;
}
/* Section Blog */

                    /* Main blog */
.blog{
    background-color: #FFFFFF;
    padding: 70px 135px 40px;
}
.blog__main{
    background-color: #231F20;
    margin-top: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #FFFFFF;

    font-weight: 400;
}
.blog_personal a{
    color: #FFFFFF;
}
.blog__main img{
    width: 400px;
    height: 370px;
}
.blog__main_text{
    padding: 60px 200px 50px 80px;
    text-align: left;
    font-weight: 400;
}

.blog__main_text_name{
    font-size: 14px;
}
.blog__main_text_title{
    font-size: 48px;
}

                    /* Additional blogs */
.blog__articles{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 40px;
}
.blog__article{
    text-align: left;
    padding: 48px;
}
.blog__article:hover,
.blog__article:focus{
    box-shadow: 6px 6px 10px 1px #E5E5E5;
    border-radius: 5px;
}
.blog__article h2{
    font-size: 24px;
}
.blog__article a{
    font-size: 14px;
}
/* Footer */

.footer__navigation{
    display: flex;
    justify-content: space-around;
    margin: 115px 225px 35px 225px;
    align-items: center;
    border-bottom: 2px solid #000000;
}
.footer__navigation_links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
}
.footer__navigation_links li{
    margin-right: 81px;
}
.footer__navigation_links li:last-child{
    margin-right: 0px;
}
.footer__socialmedia{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 52px;
}
.footer__socialmedia li{
    margin-right: 24px;
}
.footer__socialmedia li:last-child{
    margin-right: 0px;
}
.footer__term{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 72px;
    margin-bottom: 35px;
}
.footer__term p{
    margin-right: 14px;
    padding-left: 47px;
}

