@import 'font.css';

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 1440px;
    font-size: 20px;
    font-family: 'Gilroy, Regular';
    background-color: #FAFAFA;
}

a {
    text-decoration: none;
    color: #000;
}

h2 {
    margin: 0;
    font-size: 32px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.logotype:hover #logotype,
.logotype:focus #logotype {
    fill: #961218;
    transition: 0.3s;
}

/* Common */
.link {
    display: inline-block;
    border: 2px solid;
    border-radius: 5px;
    padding: 17px;
    text-transform: uppercase;
}
.btn{
    font-family: inherit;
    font-size: inherit;

    border: 2px solid;
    border-radius: 5px;
    text-transform: uppercase;

    background-color: transparent;
}

.btn_orange {
    border-color: #961218;
    color: #961218;
}

.btn_orange:hover,
.btn_orange:focus {
    background-color: #961218;
    color: #FFFFFF;
    transition: 0.3s;
}

/* Header */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    padding-left: 80px;
    font-size: 18px;
    line-height: 22px;
    position: sticky;
    top: 0;
    left: 132px;
    background-color: #FFF;

}

.header-navigation__list {
    display: flex;

}

.header-navigation__item {
    margin-right: 30px;
}

.header-navigation__item:last-child {
    margin-right: 0px;
}

.main-header__btn {
    padding: 13px 20px;
    background-color: #FFF;
    font-size: 18px;
    line-height: 22px;
}

/* Main */

/* Section Service */
.service {
    background-color: #F1F1F2;
    display: flex;
}

.service__text {
    width: 50%;

}

.service__img {
    width: 50%;
}

/* first block */
.service__text_first-block {
    padding: 154px 162px 135px 162px;
}

.service__title_first-block {
    font-size: 56px;
    line-height: 69px;
}

.service__paragraph_first-block {
    margin: 36px 0 52px;
    line-height: 28px;
}

.service__btn_first-block {
    padding: 15px 24px;
    line-height: 22px;

}

/* second block */

.service__title_second-block {
    font-size: 32px;
    line-height: 45px;
}

.service__paragraph_second-block {
    margin-top: 23px;
    margin-bottom: 35px;
}

.service__text_second-block {
    line-height: 28px;
    padding: 164px 166px 104px 112px;
}

.service__link_second-block {
    padding: 15px 45px;
    line-height: 24px;
}



/* Section Gifts */
.gift {
    background-color: #FFFFFF;
    padding-bottom: 137px;
    padding-top: 96px;
}

.gift__title {
    font-weight: inherit;
    line-height: 38px;
}

.gift__text {
    line-height: 24px;
    margin: 23px 0 64px;
}

.gift__text-content {
    text-align: center;
}

.gift__cards-product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gift__item {
    background-color: #FAFAFA;
    margin-right: 30px;
    min-height: 436px;
    width: 270px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: 0.3s;
}

.gift__item:hover,
.gift__item:focus {
    box-shadow: 6px 6px 10px 1px #E5E5E5;
    border-radius: 5px;
}

.gift__item:last-child {
    margin-right: 0px;
}

.gift__card-text {
    padding: 24px;
}

.gift__product-name {
    line-height: 24px;
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 74px;
}

.gift__link {
    font-size: 14px;
    line-height: 19px;
}

/* Div Offer */

.offer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 69px;
    background-color: #961219e7;
}

.offer__paragraph_bold {
    font-weight: 700;
}

.offer__paragraph {
    font-size: 32px;
    line-height: 45px;
}

.offer__btn_black {
    margin-right: 16px;
    font-size: 18px;
    line-height: 22px;
    padding: 14px 24px;
}

.offer__btn_black:last-child {
    margin-right: 0px;
}

.offer__btn_black:hover {
    transition: 0.3s;
}

.offer__btn_black:hover,
.offer__btn_black:focus {
    border-color: #231F20;
    background-color: #231F20;
    color: #FFF;
}

/* Section Blog */

/* Main blog */
.blog {
    background-color: #FFF;
    padding: 70px auto 40px;
}

.blog__about {
    text-align: center;
}

.blog__about-title {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    padding-top: 88px;
}

.blog__about-text {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    padding: 23px 0 71px;
}

.blog__main {
    display: flex;
    justify-content: center;
    color: #FFF;

}

.blog__main-text {
    padding: 60px 200px 50px 80px;
    background-color: #231F20;

}

.blog__main-name {
    font-size: 14px;
    line-height: 20px;
}

.blog__main-title {
    font-size: 48px;
    line-height: 58px;
}

.blog__main-link {
    font-size: 18px;
    line-height: 25px;
    color: #FFF;

    position: relative;
}

.blog__main-link::after {
    content: "";
    position: absolute;
    top: 21px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #FFF;
}

.blog__main-link:hover::after {
    width: 100%;
    transition: 1s;
    animation: cubic-bezier(0, 0.8, 0.9, 1);

}

/* Additional blogs */
.article {
    display: flex;
    margin-top: 20px;
    justify-content: center;

}

.blog__article_left-text {
    margin-right: 37px;
    width: 39%;
}

.blog__article_right-text {
    width: 39%;
}

.blog__article {
    padding: 48px;
    transition: 0, 3s;

}

.blog__article-title {
    font-size: 24px;
    line-height: 34px;
}

.blog__article-text {
    font-size: 18px;
    line-height: 25px;
}

.blog__article-link {
    font-size: 14px;
    line-height: 20px;

}

.link_underline {
    position: relative;
}

.link_underline::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    left: 0;
    top: 17px;
    background-color: #000;

}

.link_underline:hover::after {
    width: 100%;
    transition: 1s;
    animation: cubic-bezier(0, 0.8, 0.9, 1);
}

.blog__article:hover,
.blog__article:focus {
    box-shadow: 6px 6px 10px 1px #E5E5E5;
    border-radius: 5px;
}

/* Footer */

.footer__navigation {
    display: flex;
    justify-content: center;
    margin: 115px 220px 35px;
    border-bottom: 2px solid #000;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 53px;
}

.footer__navigation-list {
    display: flex;
}

.footer__navigation-item {
    margin-right: 81px;
}

.footer__logotype {
    margin: 0 141px;
}

.footer__navigation-item:last-child {
    margin-right: 0px;
}

.footer__socialmedia-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 52px;
}

.footer__socialmedia-item:last-child {
    margin-right: 0px;
}

.footer__term {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 72px;
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 20px;

}

.footer__term-years {
    margin-right: 14px;
}

.footer__svg {
    border-radius: 50%;
    margin-right: 24px;

}

.footer__svg:hover {
    background-color: #961218;
    fill: #FAFAFA;
    transition: 0.8s;
}

.footer__svg:hover path {
    fill: #FAFAFA;

}
/* Модалка */
.modal-gifts{
    background-color: #FFF;
    border: 8px solid #961218;
    border-radius: 15px;
    width: 450px;
    padding: 20px;

    position: fixed;
    top: 20%;
    left: 50%;
    margin-left: -225px;
    display: none;

}
.modal-gifts__link{
    
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    border: 3px solid #961218;
    padding: 10px 0;
   
}
.modal-gifts__link_last-item{
    margin-bottom: 0px;
}
.modal-gifts__image{
    width: 20%;
    height: auto;
}
.modal-gifts__paragraph{
    background-color: #961218;
    color: #F1F1F2;
    margin: 0;
    padding: 25px 25px;
    width: 200px;

    
    border-radius: 10px;
    text-transform: uppercase;
}
.modal-show{
    display: block;
}
.modal-close{
    width: 22px;
    height: 22px;
    font-size: 0;
    border: 2px solid #961218;
    border-radius: 3px;
    cursor: pointer;
    background-color: #961218;
    position: absolute;
    top: -5px;
    right: -34px;
}

.modal-close::before,
.modal-close::after{
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    width: 19px;
    height: 3px;
    background-color: #FFF;
}
.modal-close::before{
    transform: rotate(45deg);
}
.modal-close::after{
    transform: rotate(-45deg);
}